.chat {
    flex: 2;
}

.chatInfo {
    height: 50px;
    /*background-color: #5d5b8d;*/
    background-color: var(--bd-color-lighter);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgrey;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user img {
    color: #ddddf7;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}