:root {
    --header-height: 3rem;


    --hue-color: 120; /*210*/


    /*new colors*/
    /*--body-color: hsl(var(--hue-color), 60%, 99%);
    --bd-color: hsl(var(--hue-color), 100%, 74%); !*#7abcff*!
    --bd-color-darker: 	hsl(calc(var(--hue-color) + 33), 24%, 31%); !*#3e3c61*!
    --bd-color-darker-alt: 	hsl(calc(var(--hue-color) + 33), 29%, 25%); !*#2f2d52*!
    --bd-color-lighter: hsl(calc(var(--hue-color) + 32), 22%, 45%); !*#5d5b8d*!
    --bd-color-lighter-alt: hsl(calc(var(--hue-color) + 16), 78%, 75%); !*#8da4f1*!*/

    /*new colors2*/
    --white-rgb: 255,255,255;

    --body-color: #111b21;
    /*--bd-color: hsl(var(--hue-color), 100%, 74%);*/
    --bd-color-darker: 	#182229;
    /*--bd-color-darker-alt: 	#2a3942; hover*/
    --bd-color-darker-alt: 	#202c33; /*right*/
    --bd-color-lighter: 	#202c33; /*left*/
    --bd-color-lighter-alt: #00a884;

    --app-border: rgba(134,150,160,0.15);

    --app-background: #111b21;
    --app-background-deeper: #0a1014;

    /*--cover-image-background: #1f2b32;*/
    /*--compose-input-background: #2a3942;*/
    --compose-input-background: #202c33;
    --compose-input-text: #fff;

    --scroll-bar-color:  #182229;
    --scroll-thumb-color: rgba(134,150,160,0.25);
    --scroll-thumb-color-hover: #2a3942;

    --message-color: #2a3942;
    --message-color-owner: #00a884;


    /*colors*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    /*--body-color: hsl(var(--hue-color), 60%, 99%);*/
    --container-color: #FFF;

    /*--scroll-bar-color: hsl(var(--hue-color), 12%, 99%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);*/

    --sky-color: linear-gradient(#7587de, #b1d2fa);
    --stars-opacity: 0.4;

    /*font*/
    --body-font: "Poppins", sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .813rem;
    --small-font-size: .75rem;

    /*font-weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*margin-bottom*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

.formContainer {
    background-color: #7abcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}

.title {
    color: #5d5b8d;
    font-size: 12px;
}

.formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formWrapper input {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #7abcff;
}

.formWrapper input:focus {
    outline: 1px solid #7abcff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.formWrapper input::placeholder {
    color: rgb(175, 175, 175);
}

.formWrapper button {
    background-color: #7abcff;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.formWrapper p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}


/*homePage*/
.home {
    /*background-color: #7abcff;*/
    /*background-color: var(--bd-color);*/
    background-color: var(--body-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContainer {
    /*border: 1px solid white;*/
    border: 1px solid var(--app-border);
    border-radius: 10px;
    /*width: 65%;
    height: 85%;*/
    width: 70%;
    height: 95%;
    display: flex;
    overflow: hidden;
}

/*sidebar*/
.sidebar {
    flex: 1;
    /*border-right: 1px solid #3e3c61;*/
    border-right: 1px solid var(--bd-color-darker);
    /*background-color: #3e3c61;*/
    background-color: var(--bd-color-darker);
}

/*navbar*/
/*.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2d52;
    height: 50px;
    padding: 10px;
    color: #ddddf7;
}

.logo {

}

.user {
    display: flex;
    gap: 10px;
}

.user img {
    color: #ddddf7;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}*/


/*chat*/
/*.chat {
    flex: 2;

    border: red solid 2px;
}*/
